div.col-md-12
    div.row
        div.col-md-8.col-md-offset-2
            div.page-header
                h1.showcase ~Showcase~
            div.row.showcase-item
                img.col-md-5.pull-left(src="assets/GLoW.webp")
                div.col-md-7
                    h1 Project GLoW
                        small - MEAN Stack application
                    h3 Project GLoW (Global List of Wishing) is a Chrome Extension that injects a button on various e-commerce website that allows the adding of projects to a central wishlist.
                    h3 Role:
                        small  Solo Project; All work done by me
                    h3 Technologies:
                        small  Node.js, Angular.js, Express.js, Mongoose.js, Chrome Extension API
                    a.pull-right(target="_blank", href="project-glow.herokuapp.com")
                        h3 View Project Here
            div.row.showcase-item
                img.col-md-5.pull-right(src="assets/angri.PNG")
                div.col-md-7
                    h1.text-right
                        small Node.js Module -
                        | Angri
                    h3.text-right Angri is a Node.js Module that logs to the console and color codes the logs based on its type. (i.e. warning, error, etc.)
                    h3.text-right
                        small Solo Project; All work done by me
                        |  :Role
                    h3.text-right
                        small Node.js, colors.js
                        |  :Technologies
                    a.pull-left(target="_blank", href="https://www.npmjs.com/package/angri")
                        h3 View Project Here
            div.row.col-md-12
                div.page-header.text-center
                    h2 Resume
                    a.btn.btn-primary(href="assets/resume.pdf") Download as PDF
                div.resume-holder.col-md-offset-2
                    object(data="assets/resume.pdf", type="application/pdf", id="myResume")
                        p It appears you don't have a PDF plugin for this browser. No biggie... you can
                            a(href="assets/resume.pdf") click here
                            p to download the PDF file.
