div.col-md-12
    div.row
        div.col-md-6.col-md-offset-3
            div.row
                div.col-md-6
                    div.page-header
                        h2 Libraries
                    ul
                        li
                            h3 Angular.js
                        li
                            h3 Node.js
                        li
                            h3 MongoDB
                        li
                            h3 Express.js
                div.col-md-6
                    div.page-header
                        h2 Languages
                    ul
                        li
                            h3 JavaScript
                        li
                            h3 HTML5
                        li
                            h3 CSS3
            div.row
                div.page-header
                    h2 Resume
                div.resume-holder
                    object(data="assets/resume.pdf", type="application/pdf", id="myResume")
                        p It appears you don't have a PDF plugin for this browser. No biggie... you can
                            a(href="myfile.pdf") click here
                            p to download the PDF file.