doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Taylor Boyd
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='css/animate.css')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-animate.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(type='text/javascript', src='app.js')
        script(type='text/javascript', src='views/homeCtrl.js')
        script(type='text/javascript', src='views/contactCtrl.js')
        script(type='text/javascript', src='views/skillsCtrl.js')
    body.container-fluid(ng-app='app')
        #fb-root
        script.
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    block main-content
    script(type='text/javascript', src='js/gradientBack.js')